<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wine Quality Prediction</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div class="container">
        <h1>Wine Quality Prediction</h1>
        <form id="predictForm" action="/predict" method="post">
            <label for="fixed_acidity">Fixed Acidity:</label>
            <input type="number" id="fixed_acidity" required>

            <label for="volatile_acidity">Volatile Acidity:</label>
            <input type="number" id="volatile_acidity" required>

            <label for="citric_acid">Citric Acid:</label>
            <input type="number" id="citric_acid" required>

            <label for="residual_sugar">Residual Sugar:</label>
            <input type="number" id="residual_sugar" required>

            <label for="chlorides">Chlorides:</label>
            <input type="number" id="chlorides" required>

            <label for="free_sulfur_dioxide">Free Sulfur Dioxide:</label>
            <input type="number" id="free_sulfur_dioxide" required>

            <label for="density">Density:</label>
            <input type="number" step="any" id="density" required>

            <label for="pH">pH:</label>
            <input type="number" id="pH" required>

            <label for="sulphates">Sulphates:</label>
            <input type="number" id="sulphates" required>

            <label for="alcohol">Alcohol:</label>
            <input type="number" id="alcohol" required>

            <button type="submit">Predict Quality</button>
        </form>

        <div id="predictionResult"></div>
    </div>

    <!-- Include the JavaScript file -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
